<div id="welcome-page">
    <p>Welcome to the Gotcha Games internal database management system.<br>
    Here you can browse and make changes to our data via the following pages:
    </p>
</div>
<br>

<table id="landing-page-table">
    {{!-- "Page" column entries provides links to individual table page,
    "Content Covered" column entries describe what content is covered on said page  --}}
    <tr>
        <th align="right">Page</th>
        <th>Content Covered</th>
    </tr>

    <tr>
        <td align="right"><a href="/games" class="landing-table-link">Games</a></td>
        <td>Info concerning the titles we publish.</td>
    </tr>
    <tr>
        <td align="right"><a href="/microtransactions" class="landing-table-link">Microtransactions</a></td>
        <td>Displays details for the individual purchases of our games' microtransactions.</td>
    </tr>
    <tr>
        <td align="right"><a href="/purchases" class="landing-table-link">Purchases</a></td>
        <td>Displays details for the individual purchases of our games' microtransactions. </td>
    </tr>
    <tr>
        <td align="right"><a href="/customers" class="landing-table-link">Customers</a></td>
        <td>Displays customer information. </td>
    </tr>
    <tr>
        <td align="right"><a href="/service-platforms" class="landing-table-link">Service Platforms</a></td>
        <td>Displays information concerning the platforms we publish our titles on. </td>
    </tr>
    <tr>
        <td align="right"><a href="/developers" class="landing-table-link">Developers</a></td>
        <td>Displays information about the developers that make the games. </td>
    </tr>
    <tr>
        <td align="right"><a href="/customers-have-games" class="landing-table-link">Customers Have Games</a></td>
        <td>Displays information about the games that each customer plays. </td>            
    </tr>
</table>