/* Standard */

#footer {
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed; 
  bottom:0%;
  width: 100%;
  text-align: center;
}

#gotcha-games-title
{
  font-size: xx-large;
  margin: auto;
  width: 50%;
  font-weight: bold;
  border-radius: 25px; 
  text-align: center;
  color: #1c007f;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

body,
html {
  color: rgb(0, 34, 64);
  margin: 0;
  font-family: sans-serif;
}

/*
    Citation for the following code:
    Date: 2023/05/23
    Based partly on:
    https://stackoverflow.com/questions/37103/css-make-divs-align-horizontally
*/
table {
  padding: 0 15px 5px 0;
  width: 80%;
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
  padding: 3px;
  border-radius: 15px; 
  text-align: center;
}

table th {
  font-size: large;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: rgb(116, 233, 239);
  color: white;
}

table tr td {
  padding-right: 10px; 
}

table th {
  padding-right: 10px; 
  font-weight: bold;
}

table td {
  border: 1px solid rgb(116, 233, 239);
  padding: 8px;
}

form {
  text-align: center;
}

/*
    Citation for the following code:
    Date: 2023/05/15
    Based partly on:
    https://www.w3schools.com/CSSref/sel_hover.php
*/
a {
  flex: 1;
  text-decoration: none;
  outline: none;
  text-align: center;
  line-height: 1;
  color: black;
}

a:link,
a:visited,
a:focus {
  margin: auto;
  background: #ffffff;
  color: black;
  border-radius: 16px;

}

a:hover {
  background: rgba(225, 50, 231, 0.442);
}

a:active {
  background: darkred;
  color: white;
}


/* Classes */

.table_block {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.section-description {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/*
    Citation for the following code:
    Date: 2023/05/28
    Based partly on:
    https://stackoverflow.com/questions/15561669/placing-multiple-divs-side-by-side-within-a-parent-div
*/
.flex-parent-element {
  display: flex;
  width: 100%;
}

/*
    Citation for the following code:
    Date: 2023/05/28
    Based partly on:
    https://stackoverflow.com/questions/15561669/placing-multiple-divs-side-by-side-within-a-parent-div
*/
.flex-child-element {
  flex: 1;
  border: 3px solid #ffffff;
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 3px;
  border-radius: 15px; 
}

/*
    Citation for the following code:
    Date: 2023/05/28
    Based partly on:
    https://stackoverflow.com/questions/15561669/placing-multiple-divs-side-by-side-within-a-parent-div
*/
.flex-child-element:first-child {
  margin-right: 20px;
}

.table-block {
  text-align: center;
}

.section-title {
  margin: auto;
  color: rgb(48, 157, 163);
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.click-button{
    background-color: rgb(116, 233, 239);;
  font-size: x-large;
  border-radius: 25px; 
  color: #1c007f;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.header-container {
  background-color: #ffffff;
  font-weight: bold;
  width: 100vw;
  margin: 0 auto;
  position: relative;
  gap: 0.625%;
  position: fixed;
  padding: 0px, 10px, 0px, 0px;
  text-align: center;
}

.container {
  display: flex;
  gap: 0.625%;
}

.landing-table-link {
  color: #1c007f;
}

/* IDs */
#landing-page-table {
    border: 3px solid #ffffff;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  padding: 3px;
  border-radius: 15px; 
}

#welcome-page{
    width: 75%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;   
}
