<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gotcha Games</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    {{!-- Navigation header --}}
        <nav class="header-container">
            <div id="gotcha-games-title"><a href="/" > Gotcha Games </a></div>
            <a href="/games">Games</a> | 
            <a href="/microtransactions">Microtransactions</a> | 
            <a href="/purchases">Purchases</a> | 
            <a href="/customers">Customers</a>
            <br>
            <a href="/service-platforms">Service Platforms</a> | 
            <a href="/developers">Developers</a> | 
            <a href="/customers-have-games">Customers Have Games</a>
        </nav>
{{!-- Link breaks to make sure header doesn't overlap with individual .hbs page content
 --}}
        <br>
        <br>
        <br>
        <br>
        <br>
        {{{body}}}
</body>

{{!-- Link breaks to make sure footer doesn't overlap with individual .hbs page content
 --}}
    <br>
    <br>
    <br>
    <br>
    <footer>
        <div id="footer"><p>© 2023, Samuel Berven and Robert Brumleve</p></div>
    </footer>

</html>
